
/* Top Left Area */

#homepage {
/* height: 2400px; */
position: absolute;
width: 100%;

}
#home-topbar {
padding: 10px 10px;
background: lightskyblue;
position: relative;
width: 100%;height: 70px;

left:-8px;


top: -8px;right: -8px;}

#home-topbar-text {
color: white;
padding: 0px 30px;
font-size: 12px;
font-weight: 700;
line-height: 30px;
position: relative;
margin-left: 8px;


}
#reddit-icon{
    display: inline-block;
}
#search-bar-area{
    position: absolute;
    display: inline-block;
}

#just-search-bar{
    display: inline-block;
}

#search-bar{
    display: inline-block;
    margin-left: -72px;
    margin-top: 40px;
    position:relative;
    z-index: 1;
    font-family: Lato;
}
#search-icon{
    display: inline-block;
    margin-left: -30px;
    top: -4px;
    position:relative;
    z-index: 2;
}

#search-icon:hover{
    transition: 0.2s;
    cursor: pointer;
    background: slategray;
    color: lightskyblue;

}

input {
    font-family: Lato;
    font-size: 14px;
    height: 26px;
}

.searchbox {
    width: 400px;
    height: 28px;
    padding: 10px;
    position: relative;
    top: -12px;
}

.check input {
    position: relative;
    top: 10px;
}


/*subreddit*/


#primary_nav_wrap
{
    margin-top: -50px;
    display: inline-block;
    background-color: white;
    /* line-height: 26px; */
    border-radius: 0.5em;
}

#primary_nav_wrap ul
{
    list-style:none;
    position:relative;
    float:left;
    margin:0;
    padding:0
;
    border-radius: 0.5em;
    z-index: 100;
    /* background-color: grey; */
}

#primary_nav_wrap ul a
{
    display:block;
    color:slategrey;
    text-decoration:none;
    font-weight:700;
    font-size:12px;
    line-height:32px;
    padding:0 15px;
    font-family:Lato;
}

#primary_nav_wrap ul li
{
    position:relative;
    float:left;
    margin:0;
    padding:0;
    border-radius: 0.5em;
}

#primary_nav_wrap ul li.current-menu-item
{
    background:#ddd
}

#primary_nav_wrap ul li:hover
{
    background:lightgrey;
}

#primary_nav_wrap ul ul
{
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:#fff;
    padding:0
}

#primary_nav_wrap ul ul li
{
    float:none;
    width:200px
}


#primary_nav_wrap ul ul a
{
    line-height:120%;
    padding:10px 15px
}

#primary_nav_wrap ul ul ul
{
    top:0;
    left:100%
}

#primary_nav_wrap ul li:hover > ul
{
    display:block
}




/* Top Right Area */

#sign-in-area {
    position: absolute;
    right: 20px;
    top: 0px;
}

#signinbox {
    margin-top: 15px;
    margin-right: 10px;
    display: inline-block;
    padding: 10px;
    width: 160px;
    position: relative;
}

#username{
    font-family: Lato;
    display: inline-block;
    position: relative;
}

#password{
    font-family: Lato;
    display: inline-block;
    position: relative;
}

#remember-me-area{
    display: block;
    margin-top: 8px;
    margin-left: -3px;
    position: relative;
}

#checkbox{
    display: inline-block;
    position: relative;
}

#check {
    height: 14px;
    margin-left: 30px;
    position: relative;
}

#remember-me {
    font-family: Lato;
    font-size: 12px;
    display: inline-block;
    position: relative;

}
#signin-buttons{
    display: inline-block;
    position: relative;
}

#Login{
    font-family: Lato;
    font-size: 12px;
    color: white;
    background: slategray;
    padding: 5px;
    border-radius: 8px;
    display: inline-block;
    width: 80px;
    text-align: center;
    margin-left: 110px;
    position: absolute;
}
#Sign-Up{
    font-family: Lato;
    font-size: 12px;
    color: white;
    background: slategray;
    padding: 5px;
    border-radius: 8px;
    display: inline-block;
    width: 80px;
    text-align: center;
    margin-left: 15px;
    position: relative;
}

.button:hover{
    -webkit-filter: invert(20%);
    transition: 0.3s;
    cursor: pointer;

}

/*Home Contents*/

#home-contents{
    /* float: left; */
}

/*Side bar*/

#home-sidebar{
    width: 100px;
    position: relative;
    display: inline-block;
    /* margin: 0px; */
    /* margin-bottom: 50px; */
    /* padding-bottom: 20px; *//*optional*/
}

.topics{
    font-family: Lato;
    font-size: 20px;
    line-height: 40px;
    padding: 5px;
}


.topics:hover{
    transition: 0.2s;
    cursor: pointer;
    background: slategray;
    color: lightskyblue;
    padding-left: 5px;
}
#submit-area{
    
}

#submit-side-text{
    color: white;
    text-align: center;
    font-family: Lato;
    font-size: 20px;
    background: slategray;
    padding: 10px;
    padding-bottom: 50px;
    border-radius: 8px;
    margin-top: 20px;
}

#submit-title{
    
}

#side-icon-area{
    text-align: center;
    margin-top: -45px;
}

.icon{
    padding: 2px;
}

.icon:hover{
    transition: 0.2s;
    cursor: pointer;
    background: slategray;
    color: lightskyblue;
    padding-left: 2px;
}

#submit-text{
    display: inline-block;
}

#submit-link{
    display: inline-block;
}

#post-area{
    display: inline-block;
    position: absolute;
    /* width: 100%; */
    /* height: 200px; */
    /* top: 0px; */
}

.individual-post{
    display: inline-block;
    position: relative;
    transparency: 90%;
    margin: 12px 11px;
    /* width: 50%; */
    left: 50px;
}

.arrows-area{
    background:white;
    width: 40px;
    display: inline-block;
    text-align: center;
    position: relative;
    top: -155px;
    padding: 5px
}

.arrow-icon{
    display: inline-block;
    z-index: 1;
}

.views{
    display: inline-block;
    margin-top: -50px;
    margin-left: -3px;
    color: darkslategray;
    font-family: Lato;
    font-size: 20px;
    z-index: 2;
}

.individual-post-area-without-arrows{

    display: inline-block;
    margin-bottom: -50px;
    box-shadow: 0px 2px 4px gray;
}

.picture-area{
    display: inline-block;
}



.picture{
    position: relative;
    z-index: 1;
}

.ranking{
    float: left;
    color: white;
    position: relative;
    font-family: Lato;
    font-size: 20px;
    z-index: 2;
    background: black;
    padding: 4px 9px;
    margin-top: -200px;
    
}

.without-arrows-or-picture-area{
    float:right;
    position: relative;
}

.post-title-area{
    position: relative;
    display: inline-block;
    background: slategray;
    color: white;
    width: 100%;
    width: 300
}

.description-area{
    display: block;
}

.post-title{
    position: relative;
    font-family: Lato;
    font-size: 20px;
    padding: 5px;
}

.post-title:hover{
    transition: 0.2s;
    cursor: pointer;
    color: lightskyblue;
    font-size: 20px;

}

.more-text{
    position: relative;
    font-family: Lato;
    font-size: 15px;
    text-align: right;
    padding: 5px;
}

.more-text:hover{
    transition: 0.2s;
    cursor: pointer;
    background: slategray;
    color: lightskyblue;
    padding: 5px;
}

.submit-time{
    color: slategray;
    font-family: Lato;
    font-size: 15px;
    padding: 5px;
}

.comments-area{

    margin-top: 60px;
}

.see-comments-text{
    color: slategray;
    font-family: Lato;
    font-size: 15px;
    padding-left: 5px;
    display: inline-block;
    position: relative;
}

.see-comments-text:hover{
    transition: 0.2s;
    cursor: pointer;
    color: lightskyblue;
    padding-left: 5px;
    font-size: 15px;
}

.comments-bubble{
    display: inline-block;
    text-align: center;
    background: white;
    position: relative;
}

.comments-bubble-icon{
    z-index: 1;
    position: relative;
}

.comments-number{
    position: relative;
    color: lightskyblue;
    font-family: Lato;
    font-size: 14px;
    margin-top: -18px;
    z-index: 2;
}

.share-icon{
    display: inline-block;
    margin-left: 120px;
    position: relative;
}
