@@ -0,0 +1,178 @@
body {  /*the outer layer of the site and global style attributes*/
font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
margin: 0px;
background: #f7f5f2;
}

/* Utility Stylesheets */

a {
color: inherit;
text-decoration: none;
}

.clear {
clear: both;
}

.img-scaled {
width: 100%;
}


/* INDEX */

.page {
    background: white;
    padding: 18px;
    font-size: 12px;
    margin-bottom: 6px;
    border-radius: 2px;
    text-align: center;
    font-weight: 700;
    color: #4a4a4a;
    cursor: pointer;
}
#index {
    width: 240px;
    position: absolute;
    left: calc(50% - 120px);
    top: calc(50% - 206px);
}
/* Top Left Area */

#homepage {
height: 2400px;
position: absolute;
width: 100%;

}
#home-topbar {
padding: 10px 10px;
background: lightskyblue;
position: relative;
height: 70px;
top: -10px;
left:-8px;


}

#home-topbar-text {
color: white;
padding: 0px 30px;
font-size: 12px;
font-weight: 700;
line-height: 30px;
position: relative;
margin-left: 8px;


}
#reddit-icon{
    display: inline-block;
}
#search-bar-area{
    position: absolute;
    display: inline-block;
}

#just-search-bar{
    display: inline-block;
}

#search-bar{
    display: inline-block;
    margin-left: -72px;
    margin-top: 40px;
    position:relative;
    z-index: 1;
    font-family: Lato;
}
#search-icon{
    display: inline-block;
    margin-left: -30px;
    top: -4px;
    position:relative;
    z-index: 2;
}

#search-icon:hover{
    transition: 0.2s;
    cursor: pointer;
    background: slategray;
    color: lightskyblue;

}

input {
    font-family: Lato;
    font-size: 14px;
    height: 26px;
}

.searchbox {
    width: 400px;
    height: 28px;
    padding: 10px;
    position: relative;
    top: -12px;
}

.check input {
    position: relative;
    top: 10px;
}




/* Top Right Area */

#sign-in-area {
    position: absolute;
    right: 0px;
    top: 0px;

}

#signinbox {
    margin-top: 15px;
    margin-right: 10px;
    display: inline-block;
    padding: 10px;
    width: 160px;
    position: relative;
}

#username{
    font-family: Lato;
    display: inline-block;
    position: relative;
}

#password{
    font-family: Lato;
    display: inline-block;
    position: relative;
}

#remember-me-area{
    display: block;
    margin-top: 8px;
    margin-left: -3px;
    position: relative;
}

#checkbox{
    display: inline-block;
    position: relative;
}

#check {
    height: 14px;
    margin-left: 30px;
    position: relative;
}

#remember-me {
    font-family: Lato;
    font-size: 12px;
    display: inline-block;
    position: relative;

}
#signin-buttons{
    display: inline-block;
    position: relative;
}

#Login{
    font-family: Lato;
    font-size: 12px;
    color: white;
    background: slategray;
    padding: 5px;
    border-radius: 8px;
    display: inline-block;
    width: 80px;
    text-align: center;
    margin-left: 110px;
    position: absolute;
}
#Sign-Up{
    font-family: Lato;
    font-size: 12px;
    color: white;
    background: slategray;
    padding: 5px;
    border-radius: 8px;
    display: inline-block;
    width: 80px;
    text-align: center;
    margin-left: 15px;
    position: relative;
}

.button:hover{
    -webkit-filter: invert(20%);
    transition: 0.3s;
    cursor: pointer;

}

/*Home Contents*/

#home-contents{
    float: left;
}

/*Side bar*/

#home-sidebar{
    width: 100px;
    position: relative;
    display: block;
    margin-bottom: 50px;
    padding-bottom: 20px;/*optional*/

}

.topics{
    font-family: Lato;
    font-size: 20px;
    line-height: 40px;
    padding: 5px;
}


.topics:hover{
    transition: 0.2s;
    cursor: pointer;
    background: slategray;
    color: lightskyblue;
    padding: 5px;
}
#submit-area{
    
}

#submit-side-text{
    color: white;
    text-align: center;
    font-family: Lato;
    font-size: 20px;
    background: slategray;
    padding: 10px;
    padding-bottom: 50px;
    border-radius: 8px;
    margin-top: 20px;

}

#submit-title{
    
}

#side-icon-area{
    text-align: center;
    margin-top: -45px;


}

.icon{
    padding: 2px;
}

.icon:hover{
    transition: 0.2s;
    cursor: pointer;
    background: slategray;
    color: lightskyblue;
    padding: 5px;

}

#submit-text{
    display: inline-block;
}
#submit-link{
    display: inline-block;
}

#post-area{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 200px;

}

.individual-post{
    display: inline-block;
    position: relative;
    transparency: 90%;
    width: 100%;

}

.arrows-area{
    background:white;
    width: 40px;
    display: inline-block;
    text-align: center;
    position: relative;
    top: -100px;
    padding: 5px
}

.arrow-icon{
    display: inline-block;
    z-index: 1;
}

.views{
    display: inline-block;
    margin-top: -50px;
    color: darkslategray;
    font-family: Lato;
    font-size: 20px;
    z-index: 2;

}

.individual-post-area-without-arrows{

    display: inline-block;
    margin-bottom: -50px;
    box-shadow: 5px 5px 2px;
 


}

.picture-area{
    display: inline-block;
}



.picture{
    position: relative;
    z-index: 1;
}

.ranking{
    float: left;
    color: white;
    position: relative;
    font-family: Lato;
    font-size: 20px;
    z-index: 2;
    background: black;
    padding: 4px 9px;
    margin-top: -200px;
    
}

.without-arrows-or-picture-area{
    float:right;
    position: relative;
}

.post-title-area{
    position: relative;
    display: inline-block;
    background: slategray;
    color: white;
    width: 100%;
    width: 300
}

.description-area{
    display: block;
}

.post-title{
    position: relative;
    font-family: Lato;
    font-size: 20px;
    padding: 5px;
}

.post-title:hover{
    transition: 0.2s;
    cursor: pointer;
    color: lightskyblue;
    font-size: 20px;

}

.more-text{
    position: relative;
    font-family: Lato;
    font-size: 15px;
    text-align: right;
    padding: 5px;
}

.more-text:hover{
    transition: 0.2s;
    cursor: pointer;
    background: slategray;
    color: lightskyblue;
    padding: 5px;
}

.submit-time{
    color: slategray;
    font-family: Lato;
    font-size: 15px;
    padding: 5px;
}

.comments-area{

    margin-top: 82px;
}

.see-comments-text{
    color: slategray;
    font-family: Lato;
    font-size: 15px;
    padding: 5px;
    display: inline-block;
    position: relative;

}

.see-comments-text:hover{
    transition: 0.2s;
    cursor: pointer;
    color: lightskyblue;
    padding: 5px;
    font-size: 15px;
    }

.comments-bubble{
    display: inline-block;
    text-align: center;
    background: white;
    position: relative;
}

.comments-bubble-icon{
    z-index: 1;
    position: relative;
}

.comments-number{
    position: relative;
    color: lightskyblue;
    font-family: Lato;
    font-size: 14px;
    margin-top: -18px;
    z-index: 2;
}

.share-icon{
    display: inline-block;
    margin-left: 130px;
    position: relative;
}

